.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 70px;
  border-bottom: 3px;
  border-bottom-style: solid ;
  border-bottom-color: rgb(220, 216, 216);
  padding-left: 10px;
  position: relative;
  z-index: 3;
  background-color:rgb(243, 241, 241);
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: rgb(0, 0, 0);  
}

.navbarLink{
  font-weight:bold;
  font-size: 20px;
  text-align: center;
  min-height: inherit;
  font-size: large;
  margin: 0;
  max-height:min-content;
  display: flex;
  align-items: center;
  margin-right: 30px;
}


.container{
  margin: 0;
}


#logo{
  font-size: 50px;
}


.centralContainer{
  display: flex;
  justify-content: space-between;
  width:350px;
  align-items: center;
}

body{
  margin: 0;
  background-color:rgb(243, 241, 241);
  overflow-x: hidden;
}

a:hover{
  color: rgb(35, 117, 10);
}

.HomepageContainer{
  display: flex;
  align-items: center;
  justify-content: center;

}

.overlay{
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  transition: filter 0.5s ease;
}

.overlay.active{
  backdrop-filter: blur(4px);
  z-index: 1;
}

.HomepageBox{
  border-style: solid;
  border-color: rgb(220, 216, 216);
  box-shadow: 5px 10px rgb(220, 216, 216);
  border-radius: 50px;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
  width: 1000px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: end;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: -40px;
}

.HomepageBoxOtp{
  border-style: solid;
  border-color: rgb(220, 216, 216);
  box-shadow: 5px 10px rgb(220, 216, 216);
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
  border-radius: 50px;
  width: 1000px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position-y: 20%;
  background-position-x: 50%;
}

.titleOtp{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

.title{
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
}

.subtitle{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #555;
}

.icon{
  position: absolute;
  z-index: 0;
  padding: 10px;
  padding-top: 12px;
}

.HomepageText{
  width:400px;
}



.HomepageForm{
  padding-top: 10px;
  width: 400px;

}

#prevButton{
  float: left;
  padding: 5px;
  border-color: black;
  border-width: 1px;
  border-radius: 50px;
  background-color: rgba(251, 220, 192, 0.996);
}

#nextButton{
  float: right;
  padding: 5px;
  border-color: black;
  border-width: 1px;
  border-radius: 50px;
  background-color: rgba(251, 220, 192, 0.996)
}


.formSpace{
  border-radius: 50px;
  padding: 10px;
  margin: 5px;
  margin-left: 0;
  width:370px;
  border-color: black;
  border-width: 1px;
  outline: none;
  padding-left: 30px;
  height: 10px;
  
}

#description{
  overflow: hidden;
  height: 50px;
  border-radius: 10px;
  resize:none;
}

#formSpaceLogin{
  width: 360px;
}

.formSpace:focus,
.otpInput:focus{
  border-color: #6505ed;
  box-shadow: 0 0 10px rgba(98, 0, 234, 0.7);
  outline: none;
}

.submitButton{
  margin: 5px;
  border-radius: 50px;  
  padding: 10px;
  width: 412px;
  font-weight: bold;
  font-size: medium;
  line-height: 10px;
  margin-left: 0;
  cursor: pointer;
  padding-right: 0;
  margin-right: 0;
  padding: 10px;
  margin: 5px;
  margin-left: 0;
  width:412px;
  border-color: black;
  border-width: 1px;
}

#submitButtonLogin{
  width: 402px;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

#login{
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  background-color: green;
  color: white;
  margin-right: 10px;
}

.loginPage{
  position: absolute;
  border-style: solid;
  height: 100vh;
  top:0;
  right: -460px;
  background-color: rgb(252, 220, 193);
  border-right: 0;
  z-index: 2;
  transition: right 0.5s ease;
  border-color: rgb(220, 216, 216);
  width: 413px;
}

.loginSubPage{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  top: 10%;
  position: relative;
}

.loginPage.open{
  right: 0;
  filter: none;
}

#personCircle{
  width: 200px;
  height: 150px;
}

#closeButton{
  position: relative;
  top: 8%;
  font-size: 40px;
  margin-left: 10px;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  color: black;
}

#loginImage{
  width: 300px;
}

#loginInput{
  width: 400px;
}

.otpText{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.otpInput{
  width: 25px;
  height: 25px;
  border-radius: 5px;
  margin: 2px;
  text-align: center;
  border-color: black;
  border-width: 1px;
}

.textContainerOtp{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-right: 250px;
  margin-left: 250px;
  row-gap: 50px;
}

.cardSlot{
  width: 300px;
  margin: auto;
  margin-top: 50px;
}


.cardImage{
  width: 315px;
  border-radius: 10px;
}


.cardTitle h3{
  word-wrap: break-word;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
  font-weight: normal;
  margin-top: 5px;
}

.cardPrice{
  font-weight: bold;
  font-size: large;
}

.cardPrice p {
  margin-bottom: 0;
}


.cardTitle:hover h3{
  text-decoration: underline;
  color: black;
}

.cardAuthor p{
  margin-bottom: 0;
}

.cardpageDetailsContainer{
  display: flex;
  margin-left: 50px;
  width: 100%;
}

.cardpageDetailsText{
}

.asideBox{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: rgba(128, 128, 128, 0.477) solid 1px;
  font-size:large;
  padding: 20px;
  width: 60%;
  height: 400px;
}

.firstColumn{
  width: 60%;
}

.secondColumn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.buttonInfoCard{
  background-color: black;
  color: white;
  height: 40px;
  cursor: pointer;
}

